<button id="rzp-button1">Pay now</button>
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
{{order_id}}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
var options = {
    "key": "rzp_test_Vg4TId4a7WErvz",
    "amount": "50000",
    "currency": "INR",
    "name": "Acme Corp",
    "description": "Test Transaction",
    "order_id": "{{ order_id }}",
    "image": "https://example.com/your_logo",
<!--    "handler": function (response){-->
<!--        alert("payment_id " + response.razorpay_payment_id);-->
<!--        alert("order_id "+response.razorpay_order_id);-->
<!--        alert("signature "+ response.razorpay_signature)-->
    "callback_url": function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie != '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
        var csrftoken = '{{ csrf_token }}';
        var fad= new XMLHttpRequest();
        var params = 'payment_id='+response.razorpay_payment_id;
                fad.open('POST',"http://127.0.0.1:8000/reverse/",true);
                fad.setRequestHeader('X-CSRFToken', csrftoken),
                json_data = {'payment_id': response.razorpay_payment_id }
                fad.send(params);
                fad.addEventListener("readystatechange", processRequest, false);
                fad.onreadystatechange= processRequest;
                function processRequest(e) {
                    if(fad.readyState == 4 && fad.status == 200) {
                     var response= JSON.parse(fad.responseText);

                    }

                }
    },
    "notes": {
        "address": "Razorpay Corporate Office"
    },
    "theme": {
        "color": "#3399cc"
    }
};
var rzp1 = new Razorpay(options);
rzp1.on('payment.failed', function (response){
        alert(response.error.code);
        alert(response.error.description);
        alert(response.error.source);
        alert(response.error.step);
        alert(response.error.reason);
        alert(response.error.metadata.order_id);
        alert(response.error.metadata.payment_id);
});
document.getElementById('rzp-button1').onclick = function(e){
    rzp1.open();
    e.preventDefault();
}
</script>